@page "/about-us"
@model SchoolApp.Pages.AboutUsModel
@{
}


<div class="container">

  <h3 class="accordion text-center m-3" id="aboutus">About Us</h3>
  <h3 class="aboutContent1 text-center my-3 pb-3">The school was established in 1991 by the venerable Mawlavi Al Habib A.
    Ahmad Kabir
    Hazrat.
  </h3>
  <h3 class="aboutContent1 my-3">
    The primary principles of the school are given below
  </h3>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        1. Provide good education
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
      aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body">
        <strong>Provide good education to the backward students in the society:</strong>It is a well-known fact that
        matriculation education through the English language is only possible for students from upper middle class
        families.
        <p class="aboutContent">Our school was started on the basis of the lofty principle that education is common and
          obligatory for all in accordance with the Hadith that in the view of Allah all are equal.<br>
          Al-Jami Attus Sadiq Matriculation School was started with the aim of imparting education through English to
          underprivileged middle class students in the society
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        2. Providing Islamic education
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
      aria-labelledby="panelsStayOpen-headingTwo">
      <div class="accordion-body">
        <strong>Providing Islamic education in Arabic along with English curriculum:</strong>The school conducts
        Deeniyat
        classes on the best way of life in the Islamic way of life<br>
        on the basis that success in both worlds cannot be achieved without combining biological education with Islamic
        education for the betterment of society.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
        aria-controls="panelsStayOpen-collapseThree">
        3.Islamic Traditional Style:
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
      aria-labelledby="panelsStayOpen-headingThree">
      <div class="accordion-body">
        <strong>3.Islamic Traditional Style:</strong> Students in this school must strictly follow the Islamic dress
        code.<br>
        Students are required to wear a school uniform, a burqa and a shawl, and students to wear a hat with a full
        sleeve
        shirt and pants.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
        4. Dheeniyath Classes:
      </button>
    </h2>
    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
      aria-labelledby="panelsStayOpen-headingFour">
      <div class="accordion-body">
        <strong>4. Dheeniyath Classes:</strong> The school teaches Islamic way of life based on Shariah. <br>
        Everyone from kindergarten to high school students are eager to live according to the principles stated in the
        Quran and Hadith. As well as through the English language.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
        5. Morality is the cornerstone of the school:
      </button>
    </h2>
    <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse"
      aria-labelledby="panelsStayOpen-headingFive">
      <div class="accordion-body">
        <strong>5. Morality is the cornerstone of the school:</strong> Morality is important in all genres. All of the
        petitioners must attend the school morning service regularly. Prayers should be performed properly at school and
        at home.<br>
        Much attention is paid to the fact that teachers and parents should treat their fellow students with love,
        dignity, and respect.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingSix">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
        6. Daily activities of the school:
      </button>
    </h2>
    <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse"
      aria-labelledby="panelsStayOpen-headingSix">
      <div class="accordion-body">
        <strong>6. Daily activities of the school:</strong> The morning prayers at the school convey patriotic and
        secular
        messages as well as the duty of the students.
        <br>The school is governed by the Al Sadiq Trust and operates in accordance with the above six principles.
        <br>The Trust is comprised of scholars, businessmen, engineers, and lawyers.<br>
        The school is run by the Al Sadiq Trust and operates on the six principles mentioned above.<br>
        The trust has a panel of scholars, businessmen, engineers, lawyers, and an 'academic committee' consisting of
        experienced commentators, college professors, and retired principals
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingSeven">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false"
        aria-controls="panelsStayOpen-collapseSeven">
        7.Features:
      </button>
    </h2>
    <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse"
      aria-labelledby="panelsStayOpen-headingSeven">
      <div class="accordion-body">
        <strong>7.Features:</strong> The school was started in a public building with low structures. But the school is
        now run in its own building by big-hearted well-meaning assistants.<br> Recognized as a Matriculation School by
        the Government of Tamil Nadu in the year 2002.<br> Except for a few years, 8-year-olds have passed the Class X
        Matriculation examination 100%.
        <br> <strong>Many thanks to the high service of the faculty for their support</strong>
      </div>
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <img src="/images/lab.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/images/3.jpg" class="card-img-top" alt="">
            <div class="card-body">
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/images/5.jpg" class="card-img-top" alt="">
            <div class="card-body">

            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/images/sch.jpg" class="card-img-top" alt="">
            <div class="card-body">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingEight">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseEight" aria-expanded="false"
        aria-controls="panelsStayOpen-collapseEight">
        8.Requirements:
      </button>
    </h2>
    <div id="panelsStayOpen-collapseEight" class="accordion-collapse collapse"
      aria-labelledby="panelsStayOpen-headingEight">
      <div class="accordion-body">
        <strong>8.Requirements:</strong> Although our school is operating in its own building, it requires classrooms, a
        library, a laboratory, and a teachers' lounge.<br>
        Vacant lands around the school but operating in an environment where basic facilities are not fully met due to
        lack of funds We expect good souls to meet these needs
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingNine">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseNine" aria-expanded="false" aria-controls="panelsStayOpen-collapseNine">
        Extra
      </button>
    </h2>
    <div id="panelsStayOpen-collapseNine" class="accordion-collapse collapse"
      aria-labelledby="panelsStayOpen-headingNine">
      <div class="accordion-body">
        <strong>Extra:</strong> The school was started in a public building with low structures. But the school is now
        run
        in its own building by big-hearted well-meaning assistants
        It was recognized as a Matriculation School by the Government of Tamil Nadu in the year 2002 itself. Yes this is
        something to be proud of. <br>However, despite the lofty goal and service mindset, there is still a lack of
        funding to implement all of these.
      </div>
    </div>
  </div>

</div>
<link href="~/dist/css/aboutus/aboutus.min.css" rel="stylesheet" />