@page "/donations"

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" id="donations">
<h1 class="display-4 donationsHead">Donations</h1>
<p class="donationsContent">
It is a library where children from families below the poverty line can sit and read their diaries, newspapers, books, etc.<br>
 and develop their general knowledge in line with this period.<br>
A laboratory with device facilities</p>

<p class="donationsContent">All these are the needs of the poor students studying in this educational institution which operates with high principles.<br>
The highlight of Muslim School - is to give priority to the admission of Muslim children.<br>
Insha Allah, I pray that Allah has the will to fulfill the needs of my school children with a big heart!</p>

<h2 class="donationshead2"><b>To fix the future financial crisis,</b></h2>

<ul>
<li class="donationlist">We also pray for the help of the good with the mercy of Allah.</li>
<li class="donationlist">The tuition fee is very low and can be paid by the parents.</li>
<li class="donationlist">Our school fees are very low compared to other matriculation schools in the neighborhood! It is known to be 50 - 60% lower than other schools.</li>
<li class="donationlist">School van fares are just as low! The school van travels 40 - 50 km around the city twice a day to pick up students.</li>
<li class="donationlist">Although a van today has mini buses there is a situation where it has to be overloaded</li>
<li class="donationlist">If there is a bus with sixty seats it will definitely be convenient for children who are having trouble squeezing</li>
<li class="donationlist">"Learning by playing" is very good for students to understand and learn well and to remember what they have learned.<br> On this basis it would be convenient to have a large room to buy a lot of toys and use them to keep small class students playing and then securing them.</li>
<li class="donationlist">The number of students is increasing as the school operates on the basis of low tuition and Deeniyat classes.</li>
<li class="donationlist"> So the classroom with seating facilities is much needed</li>
<li class="donationlist">So teachers need a room to sit in their spare time and do their work.</li>
<li class="donationlist">Therefore, we kindly request the well-wishers to help with the high purpose of this school.</li>
</ul>
</div>

@section Styles{
<link href="~/dist/css/donations/donations.css" rel="stylesheet" />
}
