@page "/Facilities"

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" id="facilities">
    <h1 class="display-4 facilitiesHead">Facilities</h1>
    <p class="facilitiesContent">Admission of students takes place from LKG, UKG, 1st to 10th class.<br>Special features of the school</p>
    <ul>
    <li class="facilitieslist">Government recognition after completion of 10th class</li>
    <li class="facilitieslist">100% pass in Class 10th Government Examination.</li>
    <li class="facilitieslist">Comfortable classroom healthy space layout, light and well-ventilated interior.</li>
    <li class="facilitieslist">Dedicated service to qualified aspiring teachers.</li>
    <li class="facilitieslist">Computer training classes with praticals.</li>
    <li class="facilitieslist">Hyginic drinking water at all times.</li>
    <li class="facilitieslist">Modern Scientific Laboratory.</li>
    <li class="facilitieslist">Library full of new books.</li>
    <li class="facilitieslist">Spacious playground in a safe environment.</li>
    <li class="facilitieslist">L.K.G., U.K.G. Ground floor classrooms for children finishing 1st to 3rd standard</li>
    <li class="facilitieslist">English Speech Training, Tamil, Hindi, Arabic, Handwriting Training, Special Justice Teaching Classes.</li>
    <li class="facilitieslist">Daily evening special training classes for 100% pass of 10th class students.</li>
    <li class="facilitieslist">Individual training classes for educationally backward students.</li>
    <li class="facilitieslist">Low cost transportation to and from school safely.</li>
    <li class="facilitieslist">The location of the school in a natural environment.</li>
   </ul>
   <div class="alert alert-primary d-flex align-items-center" role="alert">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </svg>
  <div>
Hurry up! Admission are open!
  </div>
</div>
<p class="facilitiescontent1">In academic work
A.J. Sadiq Matric School, Kajamalai, Trichy - 23</p>
<p class="facilitiescontent1">Dear Parents!
With their love and support, A.J. Sadiq Matriculation School has been running for the last 17 years with the approval of the Government of Tamil Nadu.<br>
From this year .....</p>
  <li class="facilitieslist">Spoken English Class with experienced teachers to speak English fluently (Spoken English Class)</li>
    <li class="facilitieslist">Evening sewing and painting classes for Girls students.</li>
      <li class="facilitieslist">Yoga Practice Classes by Health  Special Teacher.</li>
      <p class="facilitiesContent">We create your children to adapt to changing times.<br>
A.J. to make your love treasures into intellectual treasures. Benefit from joining Sadiq Matriculation School</p>


    
</div>


@section Styles{
<link href="~/dist/css/facilities/facilities.css" rel="stylesheet" />
}

