@page "/Facilities"

@model IndexModel
@{
  ViewData["Title"] = "Home page";
}
<div class="container mt-3">
  <h1 class="text-center main-title"><strong>FACILITIES</strong></h1>
  
  <p class="text-center main-title">Admission of students takes place from LKG, UKG, 1st to 10th class.Special features
    of the school</p>
  <div class="d-flex">
    <div class="d-flex mt-5">
      <div class="col justify-content-center d-flex mt-4 flex-column">
        <div class="d-flex">
          <ul class="">
            <li class="facilitieslist">Government recognition after completion of 10th class</li>
            <li class="facilitieslist">100% pass in Class 10th Government Examination.</li>
            <li class="facilitieslist">Comfortable classroom healthy space layout, light and well-ventilated interior.
            </li>
            <li class="facilitieslist">Dedicated service to qualified aspiring teachers.</li>
            <li class="facilitieslist">Computer training classes with praticals.</li>
            <li class="facilitieslist">Hyginic drinking water at all times.</li>
            <li class="facilitieslist">Modern Scientific Laboratory.</li>
            <li class="facilitieslist">Spoken English Class with experienced teachers to speak English fluently (Spoken
              English Class)</li>
            <li class="facilitieslist">Evening sewing and painting classes for Girls students.</li>
            <li class="facilitieslist">Yoga Practice Classes by Health Special Teacher.</li>

          </ul>
        </div>
      </div>
      <div class="col d-flex">
        <img class="img-fluid" src="/images/3.jpg" />
      </div>
    </div>
  </div>

  <div class="container mt-3">
    <div class="d-flex">
      <div class="d-flex mt-5">
        <div class="col d-flex">
          <img class="img-fluid" src="/images/5.jpg" />
        </div>
        <div class="col justify-content-center d-flex mt-4 flex-column">
          <div class="d-flex">

            <ul class="">
              <li class="facilitieslist">Library full of new books.</li>
              <li class="facilitieslist">Spacious playground in a safe environment.</li>
              <li class="facilitieslist">L.K.G., U.K.G. Ground floor classrooms for children finishing 1st to 3rd
                standard</li>
              <li class="facilitieslist">English Speech Training, Tamil, Hindi, Arabic, Handwriting Training, Special
                Justice Teaching Classes.</li>
              <li class="facilitieslist">Daily evening special training classes for 100% pass of 10th class students.
              </li>
              <li class="facilitieslist">Individual training classes for educationally backward students.</li>
              <li class="facilitieslist">Low cost transportation to and from school safely.</li>
              <li class="facilitieslist">The location of the school in a natural environment.</li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Al Sadhik School </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Hurry up! Admission are open!
        </div>
      
      </div>
    </div>
  </div>









<div class="container-fluid facilities mt-3 mb-3">
  <div class="text-center main-title">
    In academic work
    A.J. Sadiq Matric School, Kajamalai, Trichy - 23</p>
    <p class="facilitiescontent1">Dear Parents!
      With their love and support, A.J. Sadiq Matriculation School has been running for the last 17 years with the
      approval of the Government of Tamil Nadu.<br>
      From this year .....</p>

    <p class="facilitiesContent">We create your children to adapt to changing times.<br>
      A.J. to make your love treasures into intellectual treasures. Benefit from joining Sadiq Matriculation School</p>
  </div>



  @section Styles{
  <link href="~/dist/css/facilities/facilities.css" rel="stylesheet" />
  }

  @section Scripts{

  <script>

    $(document).ready(function () {
      var myModal = new bootstrap.Modal(document.getElementById('staticBackdrop')) 
      myModal.show();
    });
  </script>
  }
