@page "/gallery"

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" id="gallery">
    <h1 class="display-4 galleryHead">Gallery</h1>
    <p class="galleryContent">This is a gallery page.</p>
</div>

@section Styles{
<link href="~/dist/css/gallery/gallery.css" rel="stylesheet" />
}
