@page "/Video-Gallery"
@model IndexModel
@{



  ViewData["Title"] = "Home page";
}

<div class="container" id="Video gallery">
  <h1 class="text-center contactHead">Video Gallery</h1>
  <video width="100%" height="100%" controls>
  <source src="video/quran.mp4" type="video/mp4">
</video>
</div>