#index {
    .content {
        width: 100%;
        height: 100px;
    }
}

#carouselExampleCaptions {
    h5 {
        color: black;
    }
    p{
        color: black;
    }
}

.our-facilities {
    background: url(/images/math.png), linear-gradient(90deg, #501278 0%, #009CDE 100%);
    padding: 40px 0;
    color: white;
    background-blend-mode: soft-light;
    background-size: contain;

    .main-title {
        font-size: 36px;
        letter-spacing: 10px;
    }

    .title {
        font-size: 28px;
    }

    .desc {
        font-size: 24px;
    }
}

.institution
{
    .title {
        font-size: 28px;
    }

    .desc {
        font-size: 24px;
    }
    ul#images_wrapper{
            list-style: none outside none;
            padding-left: 0;
            margin-bottom:0;
            height: 300px !important;
        }
        li {
            display: block;
            float: left;
            margin-right: 6px;
            cursor:pointer;
        }
        img {
            display: block;
            height: auto;
            max-width: 100%;
        }   
    .lSPager{
        display: none;
    }
}