//colors
$baseDarkBlue: #00205b;
$baseLightBlue: #179fdf;

$baseDarkGray: #696969;
$baseLightGray: #f4f4f4;
$baseMediumGray: #9c9d9b;


//font sizes
$H1FontSize: 44px;
$H2FontSize: 38px;
$H3FontSize: 30px;
$H4FontSize: 24px;
$H5FontSize: 16px;
$H6FontSize: 10px;

//font color
$fontWhite: #FFFFFF;
$fontBlack: #000000;

//font family
$signika: Signika,Helvetica,Arial,sans-serif;
