<div class="register-success-page">
    <div class="page-header">
        <h1>Registration Success</h1>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <p>
                Your account has been registered successfully. Please <a href="/account/login">login</a> to your account
            </p>
        </div>
    </div>
</div>