#gallery {
    .galleryHead {
        color: orange;
    }

    .gallerycontent {
        color: green;
    }

    #bookGallery {
        #bb-bookblock {
            height: 800px;
            width: 650px;

            img {
                height: 100%;
                width: 100%;
                object-fit: fill;
            }
        }

        nav {
            display: flex;
            justify-content: center;
            gap: 30px;
            margin-top: 30px;

            .bb-custom-icon {
                display: flex;
                flex-direction: column;
            }
        }
    }
}
