@import "../_variables.scss";

$myVariable: 40px;
$yourVariable: #333eee;

.text-centre{
    color: $fontWhite;
    background-color: $fontBlack;
    font-size: $H3FontSize;
    padding: $myVariable;
    border: 3px solid $yourVariable;
    min-height: 100vh;
	width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/school.jpg);
	background-position: center;
	background-size: cover;
	position:relative;

}

#content1{
width: 32%;
height: 350px;
background-color: #8e95f8;
float: left;
margin-right: 2%;
}

#content2{
    width: 32%;
    height: 350px;
    background-color: #8e95f8;
    float: left;
    }

    #content3{
        width: 32%;
        height: 350px;
        background-color: #8e95f8;
        float: right;
        }
        